
<!-- <div class="container"> -->
<div class="box" id="heading">
  <!-- <div class="col"> -->
    <h1>{{titulo}}</h1>
  <!-- </div> -->
  <!-- <hr/> -->
  <!-- (personaCreada)="personaAgregada($event)" -->
</div>
<div class="box">
  <app-persona  *ngFor="let personaElementos of personas; let i = index" [persona] = "personaElementos" [indice] = "i">
  
  </app-persona>
  <hr/>
  <!-- <div class="container"> -->
  </div>
  <!-- </div> -->
  <div class="box">
    <app-formulario >
  
    </app-formulario>
  </div>
<!-- </div> -->
