<form class="item">
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" 
      [(ngModel)]="nombreInput">

      <input type="text" name="apellido" id="apellido" placeholder="Apellido" 
      [(ngModel)]="ApellidoInput">
    <br/>
      <button type="submit" (click)="agregarPersona()">
        +
      </button>
  </form>
<!-- <form class="form-row">
    <div class="form-group col-md-2">
      <label for="nombre" class="sr-only">Nombre</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
      #nombreInput>
    </div>
    <div class="form-group col-md-2">
      <label for="apellido" class="sr-only">Apellido</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control" 
      #ApellidoInput>
    </div> 
    <br/>
    <div class="col">
      <button type="submit" class="btn btn-success" (click)="agregarPersona()">
        Agregar
      </button>
    </div>
  </form> -->